<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Trang quản lý</title>
    <link href="../CSS/Libraries/jquery-ui.css" rel="stylesheet" />
    <link href="../CSS/Views/menuCustomer.css" rel="stylesheet" />
    <link href="../CSS/Views/headerCustomer.css" rel="stylesheet" />
    <link href="../CSS/Views/contentCustomer.css" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <div class="menu-logo"></div>
        <div class="menu-item">
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon1"></div>
                <div class="menu-item-text">Tổng quan</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon2"></div>
                <div class="menu-item-text">Báo cáo</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon3"></div>
                <div class="menu-item-text">Sổ giao hàng</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon4"></div>
                <div class="menu-item-text">Mua hàng</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon5"></div>
                <div class="menu-item-text">Kho</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon6"></div>
                <div class="menu-item-text">Quỹ tiền</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon7"></div>
                <div class="menu-item-text">Chi phí</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon8"></div>
                <div class="menu-item-text">Khuyến mại</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon9"></div>
                <div class="menu-item-text">SMS Marketing</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon10"></div>
                <div class="menu-item-text">Danh mục</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon11"></div>
                <div class="menu-item-text">Hóa đơn điện tử</div>
            </div>
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon12"></div>
                <div class="menu-item-text">Thiết lập</div>
            </div>
        </div>

        <div class="bottom-content-menu">
            <div class="menu-item-wrap">
                <div class="menu-item-icon menu-item-icon-bottom"></div>
                <div class="menu-item-text">Hàng hóa</div>
            </div>
        </div>
    </div>
    <!--Phan header-->
    <div class="header">
        <div class="header-left">
            <div class="title-header">
                <div class="title-header-content">Thu, chi tiền mặt </div>
            </div>
            <div class="menu-header-item">
                <div class="count-money">
                    <a href="#"><span>Kiểm kê tiền mặt</span></a>
                </div>
                <div class="detail-book">
                    <a href="#">Sổ chi tiết tiền mặt</a>
                </div>
            </div>
        </div>

        <div class="header-right">
            <div class="contain-over">
                <select class="cbo-header">
                    <option>Thời trang MM Thành Công</option>
                </select>
                <div class="user-panel">
                    <div class="img-user"></div>
                    <span>Nguyen Giang</span>
                    <div class="arrow-down-black">
                    </div>
                </div>
            </div>
            <div class="icon notification"></div>
            <div class="icon helpcenter"></div>
        </div>
    </div>

    <!--Phan Content-->
    <div class="content">
        <div class="grid-master">
            <div class="cotainer-toolbar-taskbar">
                <div class="toolbar">
                    <button class="toolbar-item add-new" title="Ctrl+1">
                        <div class="icon add-new">
                        </div>
                        <span>Thêm mới</span>
                        <div class="arrow-down-white">
                        </div>
                    </button>
                    <div class="sperator"></div>
                    <button class="toolbar-item duplicate">
                        <div class="icon duplicate">
                        </div>
                        <span>Nhân bản</span>
                    </button>
                    <div class="sperator"></div>
                    <button class="toolbar-item view">
                        <div class="icon view">
                        </div>
                        <span>Xem</span>
                    </button>
                    <div class="sperator"></div>
                    <button class="toolbar-item edit" title="Ctrl+E">
                        <div class="icon edit">
                        </div>
                        <span>Sửa</span>
                    </button>
                    <div class="sperator"></div>
                    <button class="toolbar-item delete" title="Ctrl+D" disabled>
                        <div class="icon delete">
                        </div>
                        <span>Xóa</span>
                    </button>
                    <div class="sperator"></div>
                    <button class="toolbar-item reload">
                        <div class="icon reload">
                        </div>
                        <span>Nạp</span>
                    </button>
                </div>
                <div class="taskbar">
                    <div class="taskbar-item">
                        <div class="item-content time">
                            <input type="text" class="txtTime" value="Tháng này" />
                            <div class="arrow-down-black"></div>
                            <div class="pnlTime disable-option" show="false">
                                <ul>
                                    <li>Hôm nay</li>
                                    <li>Hôm qua</li>
                                    <li>Tuần này</li>
                                    <li>Tuần trước</li>
                                    <li>Tháng này</li>
                                    <li>Tháng trước</li>
                                    <li>Quý này</li>
                                    <li>Quý trước</li>
                                    <li>6 tháng trước </li>
                                    <li>Năm nay</li>
                                    <li>Năm trước</li>
                                    <li>Khác</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="taskbar-item">
                        <span>Từ ngày</span>
                        <div class="item-content" fieldDate="date-from">
                            <input type="text" class="txtDateFrom" />
                        </div>
                    </div>
                    <div class="taskbar-item">
                        <span>Đến ngày</span>
                        <div class="item-content" fieldDate="date-to">
                            <input type="text" class="txtDateTo" />
                        </div>
                    </div>
                    <div class="taskbar-item">
                        <div class="item-content submit">
                            <div class="icon getdata"></div>
                            <span>Lấy dữ liệu</span>
                        </div>
                    </div>
                    <div class="taskbar-item">
                        <div class="item-content search">
                            <input type="search" class="searchInput" placeholder="Tìm đơn hàng" style="width: 100%;
                                " />
                        </div>
                    </div>
                    <button id="deleteBtn">Xóa</button>
                </div>
            </div>
            <div class="table-content">
                <table class="main-table">
                    <thead>
                        <tr>
                            <th fieldName="RefNo">Số chứng từ</th>
                            <th fieldName="Reason">Lí do</th>
                            <th fieldName="RefDate">Ngày</th>
                            <th fieldName="Total">Tổng tiền</th>
                            <th fieldName="ContactName">Đối tượng nộp nhận</th>
                            <th fieldName="RefType">Loại chứng từ</th>
                            <th fieldName=""></th>
                        </tr>
                    </thead>
                    <tbody class="listReceipt"></tbody>
                </table>

                <div id="dialog" title="Thêm mới phiếu thu">
                    <div class="contain input-data">
                        <div class="sub-contain">
                            <div class="input-title">
                                <div class="title">
                                    Ngày
                                </div>
                                <div class="input">
                                    <input property="refDate" />
                                </div>
                            </div>
                            <div class="input-title">
                                <div class="title">
                                    Số phiếu thu
                                </div>
                                <div class="input">
                                    <input property="refNo" />
                                </div>
                            </div>
                            <div class="input-title">
                                <div class="title">
                                    Loại phiếu thu
                                </div>
                                <div class="input">
                                    <input property="refType" />
                                </div>
                            </div>
                        </div>
                        <div class="sub-contain">
                            <div class="input-title">
                                <div class="title">
                                    Tổng tiền
                                </div>
                                <div class="input">
                                    <input property="total" />
                                </div>
                            </div>
                            <div class="input-title">
                                <div class="title">
                                    Đối tượng nộp nhận
                                </div>
                                <div class="input">
                                    <input property="contactName" />
                                </div>
                            </div>
                            <div class="input-title">
                                <div class="title">
                                    Lý do
                                </div>
                                <div class="input">
                                    <input property="reason" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contain button-data">
                        <button class="save">Save</button>
                        <button class="cancel">Cancel</button>
                    </div>
                </div>
            </div>

            <!--Phan detail-->
            <div class="detail-container">
                <table class="detail-table">
                    <thead>
                        <tr>
                            <th fieldName="Description">Mô tả đơn hàng</th>
                            <th fieldName="Total">Số tiền</th>
                            <th fieldName="CollectionType">Mục đích</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../Scripts/popper.min.js"></script>
    <script src="../Scripts/jquery-3.4.1.min.js"></script>
    <script src="../Scripts/jquery-1.12.4.js"></script>
    <script src="../Scripts/jquery-ui.js"></script>
    <script src="../Scripts/Common/base.js"></script>
    <script src="../Scripts/Common/common.js"></script>
    <script src="../Scripts/Views/customer.js"></script>
</body>
</html>